* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;

  outline-color: var(--main-bg-color);
}

:root {
  --main-bg-color: #3900b3;
}

::selection {
  color: white;
  background-color: var(--main-bg-color);
}
/* System 
primary color 
  - #3900b3
*/
/* General Style */
html {
  font-size: 62.5% !important;
  font-family: sans-serif;
}

.container {
  padding: 2.5rem 5rem;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  padding: 1rem 1.5rem;
  background-color: transparent;
  border: 0.1rem black solid;
  font-size: 1.6rem;
  font-weight: 600;
}
/*Primary button  */
.btn--primary {
}
/*Secondary button  */
.btn--secondary {
  background-color: var(--main-bg-color);
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* HEADER SECTION */
.logo {
  width: 20rem;
  height: 100%;
  vertical-align: center;
}

nav {
  display: flex;
  gap: 5rem;
  /* justify-content: space-between; */
}

nav a:hover {
  color: var(--main-bg-color);
}
